<% layout("layouts/boilerplate.ejs") %>

    <div class="row mt-3 ">
        <div class="col-8 offset-2">
            <h3>Edit Your Listing</h3>
            <br>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="listing[title]" class="form-label">Title</label>
                    <br>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid title</div>
                </div>

                <div class="mb-3">
                    <label for="listing[description]" class="form-label">Description</label>
                    <br>
                    <textarea rows="6" name="listing[description]" class="form-control"
                        required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Description required</div>
                </div>

                

                <div class="mb-3">
                    <label for="listing[image]" class="form-label">Upload image</label>
                    <br>
                    <input type="file" name="listing[image]"  class="form-control">

                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="listing[price]" class="form-label">Price</label>
                        <br>
                        <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Price required</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="listing[country]" class="form-label">Country</label>
                        <br>
                        <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                        <div class="invalid-feedback">Country required</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="listing[location]" class="form-label">Location</label>
                    <br>
                    <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                    <div class="invalid-feedback">Location required</div>
                </div>
                <button class="btn btn-danger mt-3">Submit</button>
            </form>
            <br>
        </div>
    </div>
    <script src="/js/script.js"></script>