<% layout("/layouts/boilerplate.ejs") %>
<%= success %>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% if (listings.length === 0) { %>
    <div class="row">
      <div class="alert alert-warning justify-content-center" role="alert">
        No listings found matching your search criteria.
      </div>
    </div>
  <% } else { %>
    <% for (let listing of listings) { %>
      <a href="/listings/<%= listing._id %>">
        <div class="card col listing-card">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 21rem;">
          <div class="card-body">
            <p class="card-text"><b>
                <%= listing.title %>
              </b>
              <br>
              &#8377 <%= listing.price.toLocaleString("en-IN") %>/night
            </p>
          </div>
        </div>
      </a>
    <% } %>
  <% } %>
</div>
